apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: success-rate
spec:
  metrics:
    - name: success-rate
      interval: 30s
      successCondition: result[0] >= 99
      failureCondition: result[0] < 95
      provider:
        prometheus:
          address: http://prometheus.monitoring.svc.cluster.local:9090
          query: sum(rate(http_requests_total{app="rfp-app",status!~"5.."}[1m])) / sum(rate(http_requests_total{app="rfp-app"}[1m])) * 100